#game-board {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.game-row {
    display: flex;
    justify-content: center;
    width: 80vw;
    max-width: 700px;
    background-color: rgb(181, 137, 87);
    border: 3px solid rgb(88, 60, 28);
}

.square {
  width: 100%;
  aspect-ratio: 1 / 1;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ankh-house {
  background-image: url('/images/ankh.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.beauty-house {
  background-image: url('/images/lute.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.waters-house {
  background-image: url('/images/waves.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.three-truths-house {
  background-image: url('/images/romanIII.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.re-atum-house {
  background-image: url('/images/romanII.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.horus-house {
  background-image: url('/images/romanI.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.piece {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transform: scale(2);
}

.movable {
  background: radial-gradient(circle at center, rgba(255, 251, 0, 1) 0%, transparent 70%);
}

.white {
  color: white;
}

.black {
  color: black;
}